./*
!./.gitignore
!./README.md
!./img.png
!./src/brain/brain.cpp
!./src/brain/brain.h
!./src/brain/pch.h
!./src/brain/random_put_get.cpp
!./src/brain/random_put_get.h
!./src/brain/simple_math.h
!./src/examples/minimal/main.cpp
!./src/examples/minimal/minimal.pro
!./src/examples/web/brain_friend.cpp
!./src/examples/web/brain_friend.h
!./src/examples/web/deviceai.cpp
!./src/examples/web/deviceai.h
!./src/examples/web/main.cpp
!./src/examples/web/mainwindow.cpp
!./src/examples/web/mainwindow.h
!./src/examples/web/mainwindow.ui
!./src/examples/web/web.pro
